<form #loginForm="ngForm" (ngSubmit)="logIn(loginForm)">
  <div id="loginContainer" [ngClass]="{ background: !mobile }">
    <div id="loginHeader" [ngClass]="{ background: !mobile }">
      <div id="logoImgContainer">
        <img id="logoImg" src="..\assets\logo.jpg" alt="Imagen del usuario" />
      </div>
      <div *ngIf="!mobile" id="userTitle">
        <h3>{{ username }}</h3>
      </div>
    </div>
    <div class="loginContent">
      <div class="textContainer">
        <i class="fas fa-search"></i>
        <input
          [ngClass]="{ error: error }"
          type="email"
          name="email"
          placeholder="Email"
          #email="ngModel"
          ngModel
          required
        />
      </div>
      <div class="textContainer">
        <i class="fas fa-lock"></i>
        <input
          [ngClass]="{ error: error }"
          type="password"
          name="password"
          placeholder="Contraseña"
          #password="ngModel"
          ngModel
          required
        />
      </div>
      <div id="rememberRow">
        <div id="rememberMeLbl">Recordar</div>

        <div class="toggle-pill-bw">
          <input
            type="checkbox"
            (change)="changeRememberMe()"
            id="rememberMe"
            name="rememberMe"
            #rememberMe="ngModel"
            ngModel
          />
          <label for="rememberMe"></label>
        </div>
      </div>
    </div>
    <div id="buttonContainer" [ngClass]="{ buttonContainerD: !mobile }">
      <button [ngClass]="{ pill: !mobile, 'plain-button': mobile }">
        Acceder
      </button>
    </div>
  </div>
</form>
<footer *ngIf="!mobile">Registrate</footer>
