#logoImgContainer {
  width: 169px;
  height: 150px;
  overflow: hidden;
}
#logoImg {
  width: 246px;
  object-fit: cover;
}

.background {
  background-color: white;
}

.error {
  border: 2px dashed red !important;
  transition: border-color 1s ease-in-out;
}

#loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-width: 260px;
}

#loginHeader {
  padding: 10px;
}

.loginContent {
  padding: 10px;
  padding-right: 20px;
  background-color: white;
  min-width: 400px;
}

#loginContainer h3 {
  font-size: 24px;
}

#buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainerD {
  align-self: center;
}

.pill {
  max-width: 190px;
  min-width: 125px;
  border: 2.5px solid #0279c8;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  text-align: center;
  font-size: 19px;
}

.plain-button {
  border-radius: 0rem;
  border: 0px;
  background-color: #0279c8;
  width: 100%;
  text-align: center;
  color: white;
  height: 45px;
  font-size: 17px;
}

.pill:hover {
  background: linear-gradient(to right, #0279c8, #0000ff);
  transition: transform 1s ease-in-out;
  transform: rotateX(360deg);
  color: white;
  cursor: pointer;
}

.loginContent input[type="email"],
.loginContent input[type="password"] {
  font-size: 13px;
  padding: 5px;
  border: 0px;
  margin-left: 30px;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.loginContent input[type="email"]:focus-visible,
.loginContent input[type="password"]:focus-visible {
  outline: none;
}

.textContainer {
  border-bottom: 1px solid #eeeeee;
  position: relative;
}
i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  opacity: 0.5;
}

.loginContent input::placeholder {
  opacity: 0.5;
}

#rememberRow {
  margin-top: 25px;
}

footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#rememberMeLbl {
  float: left;
}

.toggle-pill-bw {
  float: right;
}

.toggle-pill-bw input[type="checkbox"] {
  display: none;
}
.toggle-pill-bw input[type="checkbox"] + label {
  display: block;
  position: relative;
  width: 3em;
  height: 1.6em;
  margin-bottom: 20px;
  background: #50565a5c;
  border-radius: 1em;
  cursor: pointer;
  -webkit-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}
.toggle-pill-bw input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 1.2em;
  height: 1.2em;
  border-radius: 1em;
  background: #f7f2f2;
  position: absolute;
  left: 0.2em;
  top: 0.2em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.toggle-pill-bw input[type="checkbox"]:checked + label {
  background: #757f86;
}
.toggle-pill-bw input[type="checkbox"]:checked + label:before {
  left: 1.6em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
